<section class="wrapper bg-light">
    <div class="container ">
       <div class="form-wrapper bg-white col-lg-12 col-11  shadow mx-auto bg-white  overflow-hidden d-flex align-items-center">
        <div class="row g-0 w-100 form-wrapper-inner">
            <!-- login form -->
            <div class="col-lg-4 col-12 mx-auto bg-white py-lg-5 py-3 px-lg-5 px-4">
                <div class="logo-wrapper my-4">
                    <img src="/assets/images/logo.svg" width="50px"  alt="image">
                </div>
                <div class="h3 mb-1 fw-bold">Sign in</div>
                <p class="text-small">Don't have an account? <a href="" class="text-decoration-none">Sign up</a></p>
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">    
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                   <div class="d-flex mb-3">
                        <div class=" col-6 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <div class="col-6 text-end">
                            <a class="text-decoration-none text-small">Forgot password?</a>
                        </div>
                   </div>
                   <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100 rounded-pill py-2">Sign in</button>
                   </div>
                    <div class="mb-3">
                        <div class="text-center mb-4 text-small" >Or continue with</div>
                        <div class="d-flex ">
                            <button class="btn btn-outline-primary rounded-pill social-btn">
                                <i class="fa fa-facebook-f" aria-hidden="true"> </i>
                            </button>
                            <button class="btn btn-outline-primary rounded-pill social-btn mx-auto">
                                <i class="fa fa-twitter" aria-hidden="true"> </i>
                            </button>
                            <button class="btn btn-outline-primary rounded-pill social-btn ">
                                <i class="fa fa-github" aria-hidden="true"> </i>
                            </button>
                        </div>
                    </div>
                  </form>
            </div>
            <!-- login-form-end -->

            <!-- welcome note wrapper -->
            <div class="col-8 welcome-note d-lg-block d-none">
                <div class="d-flex align-items-center text-white h-100">
                   <div class="col-8 mx-auto">
                        <div class="welcome-title fw-bold lh-1 mb-4" >Welcome to <br> our community</div>
                        <div class="mb-3 text-small" style="text-align:justify;">Fuse helps developers to build organized and well coded dashboards full of beautiful and rich modules. Join us and start building your application today</div>
                        <div class="users">
                            <img src="/assets/images/female-11.jpg" alt="" class="users-img">
                            <img src="/assets/images/female-18.jpg" alt="" class="users-img">
                            <img src="/assets/images/male-09.jpg" alt="" class="users-img">
                            <img src="/assets/images/male-16.jpg" alt="" class="users-img">
                            <span class="ms-3 text-small"><small>More than 17k people joined us, it's your turn</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- weclome note end -->

        </div>
       </div>
    </div>
</section>